<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TubeLite is - Professional A unique and beautiful collection of UI elements">
    <title>@ViewData["Title"] - FytSoa.Exam</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/night-mode.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/uikit/3.2.1/css/uikit.min.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
</head>
<body>
<div id="wrapper" class="collapse-sidebar">
    <partial name="Sidebar"/>
    <!-- header -->
    <div id="main_header">
        <partial name="Header"/>
    </div>
    <div class="main_content">
        
        <div class="bg-gradient-primary uk-height-small uk-position-absolute uk-width-1-1"></div>
        <div class="main_content_inner">
        
            <div class="section-small text-center uk-light">
                <h1> 个人中心 </h1>
            </div>
        
            <div class="m-auto uk-position-relative" uk-grid>
                <div class="uk-width-1-4@m uk-flex-last@@ pl-sm-0">
        
                    <partial name="User/Left"/>
        
                </div>
        
                <div class="uk-width-2-3@m mt-sm-3 pl-sm-0">
        
                    @RenderBody()
        
                </div>
        
        
            </div>
        
        
        </div>
        <partial name="Footer"/>
    </div>
</div>
<!-- For Night mode -->
<script>
        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' night-mode';
            }
        })(window, document);


        (function (window, document, undefined) {

            'use strict';

            // Feature test
            if (!('localStorage' in window)) return;

            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;

            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('night-mode');
                if (document.documentElement.classList.contains('night-mode')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);

        })(window, document);
    </script>
<script src="https://cdn.bootcdn.net/ajax/libs/uikit/3.2.1/js/uikit.min.js"></script>
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/simplebar.js"></script>
<script src="/assets/js/main.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>