@page

@{
    Layout = "Shared/_LayoutCenter";
    ViewData["CenterNav"] = 3;
}
<div class="uk-card-default p-3 rounded">
    <ul uk-tab>
        <li class="uk-active">
            <a href="#">消息</a>
        </li>
        <li>
            <a href="#">通知</a>
        </li>
    </ul>
    <ul class="uk-switcher uk-margin">
        <li class="dropdown-notifications-content uk-active">
            <ul>
                <li class="notifications-not-read">
                    <a href="#">
                        <span class="notification-avatar">
                            <img src="/assets/images/avatars/avatar-2.jpg" alt="">
                        </span>
                        <div class="notification-text notification-msg-text">
                            <strong>Jonathan Madano</strong>
                            <p>Okay.. Thanks for The Answer I will be waiting for your...</p>
                            <span class="time-ago"> 2 hours ago </span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown-notifications-content">
            <ul>
                <li class="notifications-not-read">
                    <a href="#">
                        <span class="notification-icon">
                            <i class="icon-feather-thumbs-up"></i>
                        </span>
                        <span class="notification-text">
                            <strong>Adrian Mohani</strong> Like Your Comment On Video
                            <span class="text-primary">Learn Prototype Faster</span>
                            <br> <span class="time-ago"> 9 hours ago </span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>