@page

@{
    Layout = "Shared/_LayoutCenter";
    ViewData["CenterNav"] = 4;
}
<div class="uk-card-default p-3 rounded">
    <div class="p-3">
        <h5 class="mb-0"> 安全设置 </h5>
    </div>
    <dl class="uk-description-list">
        <dt>Description term</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
        <hr class="uk-divider-icon">
        <dt>Description term</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
        <hr class="uk-divider-icon">
        <dt>Description term</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
    </dl>
</div>