@page
@{
    Layout = "Shared/_LayoutCenter";
    ViewData["CenterNav"] = 2;
}
<div class="uk-card-default rounded">
    <div class="p-3">
        <h5 class="mb-0"> 基本信息 </h5>
    </div>
    <hr class="m-0">
    <form class="uk-child-width-1-2@s uk-grid-small p-4" uk-grid>
        <div>
            <h5 class="mb-2"> 用户名 </h5>
            <input type="text" class="uk-input" placeholder="Your name">
        </div>
        <div>
            <h5 class="mb-2"> 性别 </h5>
            <select class="uk-select">
                <option>男</option>
                <option>女</option>
                <option>保密</option>
            </select>
        </div>
        <div>
            <h5 class="mb-2"> 姓名 </h5>
            <input type="text" class="uk-input" placeholder="eliedaniels@gmail.com">
        </div>
        <div>
            <h5 class="mb-2"> 出生日期 </h5>
            <input type="datetime-local" class="uk-input" placeholder="+1 555 623 568 ">
        </div>
        <div>
            <h5 class="mb-2"> 手机号码 </h5>
            <input type="text" class="uk-input" placeholder="23, Block C2 ">
        </div>
        <div>
            <h5 class="mb-2"> 邮箱 </h5>
            <input type="text" class="uk-input" placeholder="Street Number">
        </div>
    </form>

    <div class="uk-flex uk-flex-right p-4">
        <button class="button soft-primary mr-2">Cancle</button>
        <button class="button primary">Save Changes</button>
    </div>
</div>

<div class="uk-card-default rounded mt-4">
    <div class="p-3">
        <h5 class="mb-0"> 修改密码 </h5>
    </div>
    <hr class="m-0">
    <form class="uk-form-stacked p-4">
        <div class="uk-margin">
            <label class="uk-form-label">新密码</label>
            <div class="uk-form-controls">
                <input type="password" class="uk-input" placeholder="Street Number">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label">确认新密码</label>
            <div class="uk-form-controls">
                <input type="password" class="uk-input" placeholder="Street Number">
            </div>
        </div>
    </form>
    <div class="uk-flex uk-flex-right p-4">
        <button class="button soft-primary mr-2">Cancle</button>
        <button class="button primary">Save Changes</button>
    </div>
</div>